<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1cc66f00-0e6c-486a-8cc8-85bbc6b66101/resourcegroups/MeTransporta/providers/Microsoft.Web/sites/WebAppTesteM</ResourceId>
    <ResourceGroup>MeTransporta</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapptestem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapptestem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppTesteM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAppTesteM</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MeTransporta" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebAppTeste.Models.MTContext, WebAppTeste" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MeTransporta-Web.config Connection String" />
    <MSDeployParameterValue Include="MeTransportaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.testeModel.csdl|res://*/Model.testeModel.ssdl|res://*/Model.testeModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:metransportaserver.database.windows.net,1433;Initial Catalog=MeTransportaDB;User ID=sarag@metransportaserver;Password=vando.100"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WebAppTeste.Models.TesteContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:metransportaserver.database.windows.net,1433;Initial Catalog=MeTransportaDB;User ID=sarag@metransportaserver;Password=vando.100</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>